In [1]:
import pandas as pd

# Preparing the Dataset 

We have convert the CSV data into a TSV data because that is the datatype BERT inputs

In [2]:
train_df = pd.read_csv('data/train.csv', header=None)
train_df.head()

   0                                                  1
0  1  Unfortunately, the frustration of being Dr. Go...
1  2  Been going to Dr. Goldberg for over 10 years. ...
2  1  I don't know what Dr. Goldberg was like before...
3  1  I'm writing this review to give you a heads up...
4  2  All the food is great here. But the best thing...

In [5]:
train_df = train_df[:140000]
train_df.shape

(140000, 2)

In [6]:
test_df = pd.read_csv('data/test.csv', header=None)
test_df.head()

   0                                                  1
0  2  Contrary to other reviews, I have zero complai...
1  1  Last summer I had an appointment to get new ti...
2  2  Friendly staff, same starbucks fair you get an...
3  1  The food is good. Unfortunately the service is...
4  2  Even when we didn't have a car Filene's Baseme...

In [7]:
test_df.shape

(38000, 2)

As we can see that the data labelling is very weird, instead of having 0 and 1 we have, 1 and 2 respectively, so got to change that.
Here label 1 means a bad review and label 2 means it is a good review.
we have to change it to 1 represents good review and 0 represents good review

In [8]:
train_df[0] = (train_df[0] == 2).astype(int)
test_df[0] = (train_df[0] == 2).astype(int)

In [9]:
train_df.head()

   0                                                  1
0  0  Unfortunately, the frustration of being Dr. Go...
1  1  Been going to Dr. Goldberg for over 10 years. ...
2  0  I don't know what Dr. Goldberg was like before...
3  0  I'm writing this review to give you a heads up...
4  1  All the food is great here. But the best thing...

In [10]:
test_df.head()

   0                                                  1
0  0  Contrary to other reviews, I have zero complai...
1  0  Last summer I had an appointment to get new ti...
2  0  Friendly staff, same starbucks fair you get an...
3  0  The food is good. Unfortunately the service is...
4  0  Even when we didn't have a car Filene's Baseme...

# Making the tsv file 
Creating the tsv file with the given format-
1. Column 0: An ID for the row
2. Column 1: label for the row (should be an int)
3. Column 2: A column of the same letter for all rows. BERT wants this so we'll give it, but we don't have a  use for it 
3. The text for the row

In [11]:
train_df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[0],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[1].replace(r'\n', ' ', regex=True)
})

train_df_bert.head()

  alpha  id  label                                               text
0     a   0      0  Unfortunately, the frustration of being Dr. Go...
1     a   1      1  Been going to Dr. Goldberg for over 10 years. ...
2     a   2      0  I don't know what Dr. Goldberg was like before...
3     a   3      0  I'm writing this review to give you a heads up...
4     a   4      1  All the food is great here. But the best thing...

In [12]:
# naming the test dataset as dev data
# The convenience stems from the fact the BERT comes with data loading classes that expects train and dev 
dev_df_bert = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[0],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[1].replace(r'\n', ' ', regex=True)
})

dev_df_bert.head()

  alpha  id  label                                               text
0     a   0      0  Contrary to other reviews, I have zero complai...
1     a   1      0  Last summer I had an appointment to get new ti...
2     a   2      0  Friendly staff, same starbucks fair you get an...
3     a   3      0  The food is good. Unfortunately the service is...
4     a   4      0  Even when we didn't have a car Filene's Baseme...

In [13]:
train_df_bert.to_csv('data/train.tsv', sep='\t', index=False, header=False)

In [14]:
dev_df_bert.to_csv('data/dev.tsv', sep='\t', index=False, header=False)